<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>故事池</title>
    <script src="jQuery/jquery-3.3.1.min.js"></script>
    <script src="jQuery/jquery.cookie.js"></script>
    <script src="js/story.js"></script>
    <link rel="stylesheet" type="text/css" href="css/story.css">
    <link rel="stylesheet" type="text/css" href="css/personStory.css">
</head>
<body>
   <div id="menu">菜单</div>
    <div id="show">
        <div id="info">加载更多</div>
        </div>
    </div>

</body>
</html>